---
permalink: "/post/thank-you/"
layout: "base.liquid"
---

<h2>Bravo! Your post will appear momentarily...</h2>

<ul style="line-height:1.5">
  <li><a href="/post/">Post another</a></li>
  <li><a href="/">Posts home</a></li>
</ul>